<div class="container-fluid ">
    <div class="card px-0">
        <div class="card-header">
            New Delhi To Mumbai
        </div>
        <div class="card-body">
            <div class="row flight-summary-first ">

                <div class="img-logo col-2" style="height: 100%;">
                    <img src="../../../assets/Goa.jpg" style="max-height: 100%;" class="" alt="jaipur Mahal">
                </div>

                <div class="col-10 ">

                    <div class="row media-query-padding ">

                        <div class="col-md-6 col-12 ">
                            <p class=" my-0">Flamingo 6E6083</p>
                        </div>
                        <div class="col-md-6 col-12 ">
                            <p class=" my-0">Economy Class</p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="row">
                        <div class="col-5 pt-2">
                            <h4 style="font-size: 1rem;">{{'DELHI' | truncateLocation}} 21 : 00</h4>
                            <span>Wed, 20 Sep</span><br>
                            <span>Indira Gandhi Airport</span><br>
                            <span>New Delhi</span>
                        </div>

                        <div class="col-2" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <h1><i class="bi bi-clock"></i></h1>
                            <span>2hr 5min</span>
                        </div>

                        <div class="col-5 text-end pt-2">
                            <h4 style="font-size: 1rem;">{{'DELHI' | truncateLocation}} 21 : 00</h4>
                            <span>Wed, 20 Sep</span><br>
                            <span>Indira Gandhi Airport</span><br>
                            <span>New Delhi</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-12  pt-2" style="border-left: 1px dotted rgb(158, 155, 155);">
                    <div class="row py-1">
                        <div class="col-6"><i class="bi bi-wifi"></i> Wifi</div>
                        <div class="col-6 text-end"><i class="bi bi-plug "></i> In-seat Power</div>
                    </div>
                    <div class="row py-1">
                        <div class="col-6"><i class="bi bi-cup-straw"></i> Food</div>
                        <div class="col-6 text-end"><i class="bi bi-play-btn-fill"></i> On Demand Video</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-4"><span class="small-font">BAGGAGE</span></div>
                <div class="col-4"><span class="small-font">CHECK-IN</span></div>
                <div class="col-4"><span class="small-font">CABIN</span></div>
            </div>

            <div class="row">
                <div class="col-4"><h5 style="font-size: 1rem;">{{"Delhi" | truncateLocation}} - {{"Mumbai" | truncateLocation}}</h5></div>
                <div class="col-4"><h5 style="font-size: 1rem;">15KG</h5></div>
                <div class="col-4"><h5 style="font-size: 1rem;">7KG</h5></div>
            </div>
        </div>
    </div>
</div>
