@import '../../shared/colors.scss';

.flight-summary-first{
    height: 3rem;
    border-bottom: 1px dotted rgb(158, 155, 155);
}

.small-font{
    font-size: 0.8rem ;
}

.card-header, .card-footer{
    background-color: $blue_primary;
    color: $blue_tertiary;
}


@media (max-width: 508px) {
    .media-query-padding {
      margin-left: 1rem;
    }
}