<div class="container mt-5 py-4">

  <div class="row mt-4">

    <div class="col-md-6">

      <h2 class="mb-4">About Us</h2>

      <p class="about">

        Welcome to Airlines Booking System! We are your gateway to exciting journeys and unforgettable adventures.

        </p>

        <p>

            Our mission is to connect you to the world with ease and comfort. With a commitment to excellence, we offer a wide range of destinations and unbeatable service.

        </p>

        <p>

            Join us in exploring new horizons, making memories, and experiencing the magic of travel.

        </p>

    </div>

    <div class="col-md-6">

      <img src="../../../assets/International-Travels.png" alt="About Us Image" class="img-fluid rounded-circle shadow-lg" />

    </div>

   </div>

</div>