<!-- flight-details.component.html -->

<div *ngFor = "let flight of searchedFlights">
<div class="c-flight-listing-row-v2">
  <div class="summary-section">
    <div class="row">
      <div class="md-3 d-flex">
        <!-- For logo -->
        <div class="flight-info p-2">
          <div class="airline-info">
            <div class="logo">
              <img title="Flamingo76" src="https://images.ixigo.com/img/common-resources/airline-new/6E.png"
                width="50px;">
            </div>
            <div class="text">
              <div class="u-text-ellipsis">
                <div title="Flamingo" class="u-uppercase u-text-ellipsis">{{flight.flightId}}</div>
                <div class="F12345" class="u-text-ellipsis">{{flight.flightName}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="md-6">
          <!-- for flight info -->
          <div class="flight-summary">
            <div class="left-wing p-2">
              <div class="airport-code">{{flight.origin | uppercase | slice:0:3}}</div>
              <div class="time">{{flight.timeOfDeparture | selectTime}}</div>
              <div class="date">{{extractDayAndMonth(flight.timeOfDeparture)}}</div>
              <div class="text">{{flight.origin}}</div>
            </div>
            <div class="timeline-widget u-lfloat">
              <div class="c-timeline-wrapper horizontal">
                <div class="label tl first" style="font-size: 12px;"></div>
                <div class="label tl" style="font-size: 12px;">{{calculateTimeDifference(flight.timeOfDeparture, flight.timeOfArrival)}}</div>
                <div class="label t1 last" style="font-size: 12px;"></div>
                <div class="c-timeline" style="height: 2px;background-color: rgb(187,187,187);"></div>
                <div class="label br first" style="font-size: 12px"></div>
                <div class="label br" style="font-size: 12px;">non-stop</div>
                <div class="label br last" style="font-size: 12px;"></div>
              </div>
            </div>
            <div class="right-wing p-2">
              <div class="airport-code">{{flight.destination | truncateLocation}}</div>
              <div class="time">{{flight.timeOfArrival | selectTime}}</div>
              <div class="date">{{extractDayAndMonth(flight.timeOfArrival)}}</div>
              <div class="text">{{flight.destination}}</div>

            </div>
          </div>

        </div>
        <div class="md-3">
          <!-- for price and button -->
          <div class="provider-list">
            <div class="fare-provider-list u-fb single-item">
              <div class="list-item selected-fare">

                <div class="col-md-3">
                  <div class="price-section">
                    <div class="before-cashback-fare">
                      <div class="fare-text">
                        <div class="c-price-diplay u-text-ellipsis" title>
                          <span>{{flight.startingFarePerSeat+999}}</span>
                        </div>
                        <div class="strike-through"></div>
                      </div>
                    </div>
                    <div class="price" style="padding-right: 10px; padding-bottom:10px;">
                      <div class="c-price-display u-text-ellipsis" title>
                        <span>{{flight.startingFarePerSeat}}</span>
                      </div>
                    </div>
                    <button type="button" class="btn btn-warning btn-lg">Book</button>
                    <div class="features u-ib"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>