@import '../../shared/colors.scss';
 
 button{
    background-color: $blue_primary;
    color: $blue_tertiary;
 }

 .price{
   font-size: 24px;
}

.cont{
   border: 1px solid $blue_primary;
   border-radius: 5px;
}