@import '../../shared/colors.scss' ;

.c-flight-listing-row-v2 {
     width: 850px;
     margin: 12px auto 0;
     border-radius: 3px;
     box-shadow: 0 0 5px rgba(0,0,0,.15);
     background-color: #FFF;
} 

.summary-section {
     font-size: 0;
 }
 .flight-info {
    position: relative!important;
   width: 521px;
   padding-right: 20px;
  }
 .airline-info {
     width: 95px;
 }
.logo {
     margin-bottom: 10px;
 }
 .text {
     color: rgba(0,0,0,.38);
     font-size: 12px;
     font-weight: 400;
     line-height: 1.4;
     margin-left: 7px;
 }
 .u-text-ellipsis {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 .u-uppercase {
     text-transform: uppercase;
 }
 .flight-summary {
    display: inline-block!important;
    vertical-align: top;
    width: 386px;
    padding-left: 10px;
    line-height: 1;
 }
.left-wing{
     text-align: right;
     float: left;
     margin-right: 10px;
}
.airport-code {
          color: rgba(0,0,0,.87);
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 5px;
      }
.time {
     color: rgba(0,0,0,.87);
     font-weight: 600;
     font-size: 22px;
     margin-bottom: 10px;
 }
 .date {
     color: rgba(0,0,0,.38);
     font-weight: 400;
     font-size: 12px;
     margin-bottom: 3px;
 }
 .city {
     line-height: 1.2;
 }

.timeline-widget {
     width: 166px;
     padding: 20px 10px;
     text-align: center;
     color: rgba(0,0,0,.38);
     font-weight: 600;
 }
 .u-lfloat {
     float: left;
 }
.c-timeline-wrapper.horizontal{
     text-align: center;
     font-size: 0;
     width: 100%;
 }
 .label.tl.first {
     transform: translateX(-45%);
 }
.label{
     position: relative;
     display: inline-block;
     min-width: 1px;
 }
.label.tl.last {
     transform: translateX(45%);
 }
 .c-timeline {
     justify-content: space-around;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0;
    width: 100%;
    margin: 10px 0;
 }
 .label.br.first{
     transform: translateX(-45%);
 }
 .label.br.last{
     transform: translateX(-45%); 
 }
 
 .right-wing {
     text-align: left;
     float: right;
     margin-left: 10px;
 }
 .airport-code {
     color: rgba(0,0,0,.87);
     font-weight: 400;
     font-size: 14px;
     margin-bottom: 5px;
 }
 .u-clear {
     clear: both;
     width: 100%;
     height: 1px;
 }
 .detail-links {
     padding: 0 20px;
     position: absolute!important;
    left: 0;
    bottom: 1px;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #EC5B24;
    visibility: hidden;
 }
 .link {
     cursor: pointer;
 }
 .u-rfloat {
     float: right;
 }
 .detail-links {
    padding: 0 20px;
    position: absolute!important;
    left: 0;
    bottom: 1px;
    text-align: center;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #EC5B24;
    visibility: hidden;
}
.provider-list {
    display: inline-block!important;
    vertical-align: top;
    padding: 20px;
    height: 125px;
}
.fare-provider-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5px;
}
.u-fb {
    display: flex!important;
}
.single-item{
    padding-left: 38px;
}
.price-section {
    width: 100%;
    display: flex;
}
.before-cashback-fare {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(0,0,0,.38);
    padding-right: 8px;
    padding-top: 6px;
}
.fare-text{
    display: inline-block!important;
    position: relative!important;
    vertical-align: middle;
    max-width: 100%;
}
.c-price-display {
    position: relative;
}
.icon {
    position: relative!important;
    font-size: .85em;
    margin-right: 0.05em;
}
.ixi-icon-inr:before {
    content: "\f146";
}
.strike-through {
    position: absolute;
    border: 1px solid;
    width: 110%;
    top: 10px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    margin-left: -5%;
    border-bottom: none;
}
 .price{
    font-size: 24px;
 }
 .features {
    font-size: 12px;
    text-align: center;
    letter-spacing: normal;
}
.u-ib {
    display: inline-block!important;
}
.preferred-provider {
    width: 185px;
    padding: 0 20px 0 0;
}
.preferred-provider-container {
    margin-top: 18px;
    position: relative!important;
}
.book-cta {
    width: 100%;
    margin-bottom: 6px;
    padding-top: 24px;
}
.c-btn {
    background-color: #EC5B24;
    color: #FFF;
    padding: 10px 14px;
    height: 40px;
    border-radius: 2px;
    border: none;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    position: relative;
}
u-link, .u-link-sm {
    color: #EC5B24;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.u-ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: 0 0;
}
.u-ripple-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255,255,255,.45);
}
.orange-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 
 button{
    background-color: $blue_primary;
    color: $blue_tertiary;
 }