<div class="container-fluid px-0">
    <div class="card border-dark mb-3" >
        <div class="card-header">
            <h2>Fare Summary</h2>
        </div>
        <div class="card-body text-dark">
            <div class="row">
                <div class="col-md-5">
                    <div class="card-title">Fare Type</div>
                </div>
                <div class="col-md-7">
                    <div class="card-title" style="color:#559B09;">Patially Refundable</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-5">
                    <div class="card-title">Base Fare</div>
                </div>
                <div class="col-md-7">
                    <div class="card-title">₹3669</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-5">
                    <div class="card-title">GST+Service</div>
                </div>
                <div class="col-md-7">
                    <div class="card-title">₹697</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-5">
                    <div>Coupoun</div>
                </div>
                <div class="col-md-7">
                    <select class="form-select" id="coupons" name="selectCoupons">
                        <option value="Year" disabled selected> Select</option>
                        <option value="2024">APP100</option>
                        <option value="2025">NEWUSER</option>
                        <option value="2025">HDFC20</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-check justify-content-center">
                    <input class="form-check-input mx-auto" type="checkbox" value="" id="flexCheckCheckedDisabled" checked
                        disabled>
                    <label class="form-check-label" for="flexCheckCheckedDisabled">
                        &nbsp;Apply Travel Insurance
                    </label>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-md-5">
                    <div class="card-title">Total Fare</div>
                </div>
                <div class="col-md-7">
                    <div class="card-title" style="color: #EC5B24;">₹4082</div>
                </div>
            </div>
        </div>
    </div>