<div class="container-fluid  p-0">
  <footer class=" text-center text-white">
      <!-- Grid container -->
      <div class="container-fluid p-3 footer-1">
          <!-- Section: Social media -->
          <!-- End of Section: Social media -->
        <div class="row">
          <div class="col-md-4">
          <section class="mb-4">
              <h3>Support</h3>
              <p>Terms & Condition</p>
              <p>Privacy Policy</p>
              <p>Company Support</p>
              <p>Company Licence</p>
          </section>
          <!-- End of Support Section -->
        </div>
        <div class="col-md-4">
            <section class="mb-4">
                <h3>Subscribe</h3>
                <p>Subscribe and receive exclusive updates,<br>
                 offers and promational mails streight to <br>
                 your inbox<br><br>
                 <div class="row">
                      <div class="col-md-8">
                 <input type="text" class="form-control" value="Enter your mail"></div>
                 <div class="col-md-4">
                 <button class=" btn btn-danger" style="color: white;" role="button">
                      Subscribe
                  </button>
                  </div>
                  </div>
                <!-- You can add contact information and a contact form here. -->
            </section>
            <!-- End of Get In Touch Section -->
            </div>
          <!-- Get In Touch Section -->
          <div class="col-md-4">
          <section class="mb-4">
              <h3>Get In Touch</h3>
              <p>Support Available For 24/7</p>
              <p>Flamingo@gmail.com</p>
              <p>+99732_31452</p>
              <!-- You can add contact information and a contact form here. -->
          </section>
          <!-- End of Get In Touch Section -->
          </div>
          </div>
          <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

    

          <!-- Twitter -->

          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>

    

        

    

          <!-- Instagram -->

          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>

    

          <!-- Linkedin -->

          <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

  
        
          </section>

      </div>

      <!-- End of Grid container -->



      <!-- Copyright -->

      <div class="text-center p-3 footer-2">
          <i class="fas fa-plane"></i>
          All Rights Reserved &copy; 2023 by Flamingo
      </div>
      <!-- End of Copyright -->
  </footer>
</div>

<!-- End of .container -->