/* You can add global styles to this file, and also import other style files */
@import '/src/app/shared/colors.scss';


 *{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}



.grayText{
    color: gray ;
}

body{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $blue_tertiary;
}
