@import '../../shared/colors.scss' ;

.form-control{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(209, 204, 204);
    border-style:double;
    border-radius: 0px;
}
.card{
    color:rgb(57, 54, 50)
}

// .save-btn{
//     text-align: center;
//     width: 100%;
    
// }
// .button{
//     width: 50%;
//     color: green;
//     border: 1px solid green;
// }

.card-header{
    background-color: $blue_primary;
    color: $blue_tertiary;
}

button{
    background-color: $blue_primary;
    color: $blue_tertiary;
    border: 0px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}

